{{!-- Main Content --}}
<div class="container-fluid" id="center-all-content">
  <div>
    {{#each days}}
    <div>
      <div class="row" class="card-body" id={{this}}>
        <div class="card" id="cardMarg">
          <div>
            {{!-- {{#each exercises}} --}}
            {{!-- <p> {{exercises}} /yellow</p> --}}
            {{!-- {{/each}} --}}
            <p>{{dataValues.category}}</p>
                <p>{{dataValues.name}}</p>
            <p id="instruction">Please Choose Your Exercise</p>

            
            <ul> 
                {{!-- <p>{{dataValues.category}}</p>
                <p>{{dataValues.name}}</p> --}}
            </ul>
          </div>
      
              <select class="dropdown-menu">
                <!-- Dropdown menu links -->
                <option value=" " disabled selected>Focus On</option>
                <option value="arms">Arms</option>
                <option value="back">Back</option>
                <option value="chest" >Chest</option>
                <option value="legs">Legs</option>
                <option value="cardio">Cardio</option>
                <option value="abs">Abs</option>
            </div>
            <input name="exerciseName"type="name" class="form-control" id="inputName" placeholder="Your Exercise">
            <i data-id ="{{id}}" data-exercise="true" class="fas fa-heartbeat"></i>

            <p class="message"></p>
        </div>

    </div>
    {{/each}}
  </div>
</div>