{{!-- Main Content --}}
<div class="container-fluid" id="center-all-content">
  <h1>workouts!</h1>

  <h2>workouts that have been done!</h2>


  {{!-- 7 Day Workout Forecast --}}
  


    <div>
     {{#each exercises}}
    <div>

      
     <div class="card" style="width: 18rem;">
        <li>
        <p>{{dataValues.name}}</p>
        <p>{{dataValues.category}}</p>
        <p>{{dataValues.instructions}}</p>
      </li>
  
  <div class="row" class="card-body">
    <button id="deleteBTN" data-id="{{this.id}}"><i class="fas fa-trash"></i></button> 
    <button id="postBTN" data-id ="{{id}}" data-exercise="true"><i class="fas fa-heartbeat"></i></button>
  </div>

    </div>
  </div>
     {{/each}}
  
  </div>

  
</div>